
.video-container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: flex-start;
}

.video-container>div {
  flex: calc(95% / 2);
}

.video-item {
  display: grid;
  min-width: 420px;
  /* grid-template-columns: 1fr; */
}

.video-item div {
 padding: 5px;
 background-color: rgba(0,0,0,0.1);
 /* grid-row-start: 1; */
 /* grid-column-start: 1; */
}


