
.demo-container{
  display: inline-flex;
  align-items: flex-start;
  max-width: 95%;
  gap: 10px;
}

.demo-item{
  max-width: 100%;
	padding: 0px 10px 0px 10px;
}

.video-container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: flex-start;
}

.video-container> div {
  flex: calc(95% / 2);
}

.video-item {
  display: grid;
  min-width: 420px;
  padding: 5px;
  background-color: rgb(200,200,200);
}

.video-item h5 {
 padding: 0px 0px 0px 10px;
}

.video-item p {
 padding: 0px 0px 0px 10px;
}

