<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title | markdownify | strip_html}} {% endif %}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name | markdownify}}</a></h1>
            <p class="site-description">{{ site.description | markdownify }}</p>
          </div>

          <nav>
						<div class="nav-row">
							<a href="{{ site.baseurl }}/wiki"><strong> Asellus-Wiki</strong></a> <strong>|</strong>
							<a href="{{ site.baseurl }}/projects"><strong>Projects and Data</strong></a>
							
						</div>
						<div class="nav-row">
							<a href="{{ site.baseurl }}/news"><strong>News</strong></a> <strong>|</strong>
							<a href="{{ site.baseurl }}/community"><strong>Research Community</strong></a> <strong>|</strong>
							<a href="{{ site.baseurl }}/about" style="color:#4183C4"><strong>About</strong></a>

						</div>
						
	
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
	
      {{ content }}
	  
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
						<div class="row">
							{% include svg-icons.html %}
						<div class="row">
							<a href="{{ site.baseurl }}/about"><strong>© The Asellus Consortium</strong></a>
						</div>

        </footer>
      </div>
    </div>

    {% include analytics.html %}

	</div>

  </body>
</html>
